<% content_for :title, "Register" %>
<h1>Create your account</h1>
<p>Registration uses a passkey stored on your device. There is no password.</p>

<%= form_with url: signup_path, method: :post,
      data: { passkey: "register", options_url: signup_options_path, callback_url: signup_path, turbo: false } do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username, autocomplete: "username webauthn", required: true %>
  </div>

  <p data-passkey-error class="passkey-error"></p>

  <%= form.submit "Register with a passkey" %>
<% end %>

<p><%= link_to "Already have an account? Sign in", login_path %></p>
