<% content_for :title, "Priorities · #{@project.name}" %>
<div class="level is-mobile">
  <div class="level-left">
    <div>
      <h1 class="title mb-1">Priorities</h1>
      <p class="subtitle is-6 has-text-weak"><%= link_to @project.name, project_path(@project) %></p>
    </div>
  </div>
  <div class="level-right"><%= link_to "Prioritize", prioritize_project_path(@project), class: "button is-primary" %></div>
</div>

<% if @items.any? %>
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Type</th>
          <th>Points</th>
          <th>Strength</th>
          <th>Comparisons</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each_with_index do |item, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to item.title, project_item_path(@project, item) %></td>
            <td><%= item.item_type %></td>
            <td><%= item.points %></td>
            <td><%= format("%+.1f", item.strength) %></td>
            <td><%= @comparison_counts.fetch(item.id, 0) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="has-text-weak">No open items to prioritize yet.</p>
<% end %>
