<% content_for :title, "Priorities" %>
<div class="level is-mobile">
  <div class="level-left"><h1 class="title">Priorities</h1></div>
  <div class="level-right"><%= link_to "Prioritize", prioritize_path, class: "button is-primary" %></div>
</div>

<% if @items.any? %>
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Project</th>
          <th>Type</th>
          <th>Points</th>
          <th>Comparisons</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each_with_index do |item, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to item.title, project_item_path(item.project, item) %></td>
            <td><%= item.project.name %></td>
            <td><%= item.item_type %></td>
            <td><%= item.points %></td>
            <td><%= @comparison_counts.fetch(item.id, 0) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="has-text-weak">No open items to prioritize yet.</p>
<% end %>
