<% content_for :title, @project.name %>
<div class="level is-mobile">
  <div class="level-left"><h1 class="title"><%= @project.name %></h1></div>
  <div class="level-right">
    <div class="buttons">
      <%= link_to "Edit", edit_project_path(@project), class: "button" %>
      <%= button_to "Delete", @project, method: :delete, class: "button is-danger is-outlined",
            form: { data: { turbo_confirm: "Delete this project?" } } %>
    </div>
  </div>
</div>

<div class="level is-mobile">
  <div class="level-left"><h2 class="title is-4">Board (live)</h2></div>
  <div class="level-right"><%= link_to "New item", new_project_item_path(@project), class: "button is-primary" %></div>
</div>
<%= turbo_stream_from @project, "items" %>
<%= render "items/board", project: @project %>

<p class="mt-4"><%= link_to "Back to projects", projects_path %></p>
