<% content_for :title, "Submit to #{@project.name}" %>
<div class="columns is-centered">
  <div class="column is-two-thirds-tablet is-half-widescreen">
    <h1 class="title">Submit an idea or bug to <%= @project.name %></h1>

    <div class="box">
      <%= form_with model: @item, url: public_submissions_path(@project.public_token) do |form| %>
        <% if @item.errors.any? %>
          <div class="notification is-danger is-light">
            <ul>
              <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :title, class: "label" %>
          <div class="control">
            <%= form.text_field :title, class: "input", required: true %>
          </div>
        </div>

        <div class="field">
          <%= form.label :notes, "Description", class: "label" %>
          <div class="control">
            <%= form.text_area :notes, class: "textarea" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :item_type, "Type", class: "label" %>
          <div class="control">
            <div class="select">
              <%= form.select :item_type, [ [ "Bug", "bug" ], [ "Idea", "idea" ] ] %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :submitter_name, "Your name (optional)", class: "label" %>
          <div class="control">
            <%= form.text_field :submitter_name, class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :submitter_email, "Your email (optional)", class: "label" %>
          <div class="control">
            <%= form.email_field :submitter_email, class: "input" %>
          </div>
        </div>

        <div class="honeypot" aria-hidden="true" style="position: absolute; left: -9999px;">
          <label>Website
            <%= tag.input type: "text", name: "website", tabindex: "-1", autocomplete: "off" %>
          </label>
        </div>

        <div class="field">
          <%= form.submit "Send submission", class: "button is-primary" %>
        </div>
      <% end %>
    </div>

    <p><%= link_to "Back to board", public_project_path(@project.public_token) %></p>
  </div>
</div>
