<%= tag.div id: dom_id(project, :board), class: "columns is-multiline item-board" do %>
  <% project.organization.statuses.ordered.each do |status| %>
    <div class="column is-one-quarter-widescreen is-half-tablet">
      <section class="box status-group">
        <h3 class="title is-6"><%= status.name %></h3>
        <% items = project.items.where(status_id: status.id).order(created_at: :desc) %>
        <% if items.any? %>
          <ul>
            <% items.each do |item| %>
              <li id="<%= dom_id(item) %>" class="mb-2">
                <%= item.title %>
                <small class="has-text-weak">(<%= item.item_type %><%= ", #{item.points} pts" if item.points %>)</small>
                <% item.tags.each do |tag| %>
                  <span class="tag is-small"><%= tag.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="has-text-weak is-size-7">Nothing here yet.</p>
        <% end %>
      </section>
    </div>
  <% end %>
<% end %>
