<%= form_with model: [ @project, item ] do |form| %>
  <% if item.errors.any? %>
    <div class="notification is-danger is-light">
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input", autofocus: item.new_record? %>
    </div>
  </div>

  <div class="field">
    <%= form.label :notes, class: "label" %>
    <div class="control">
      <%= form.hidden_field :notes, id: form.field_id(:notes), value: item.notes.try(:to_trix_html) %>
      <rhino-editor
        input="<%= form.field_id(:notes) %>"
        data-blob-url-template="<%= rails_service_blob_url(":signed_id", ":filename") %>"
        data-direct-upload-url="<%= rails_direct_uploads_url %>"
      ></rhino-editor>
    </div>
  </div>

  <div class="field">
    <%= form.label :tag_names, "Tags", class: "label" %>
    <div class="control">
      <%= form.text_field :tag_names, value: item.tag_names.join(", "), class: "input" %>
    </div>
    <p class="help">Comma-separated. New tags are created automatically.</p>
  </div>

  <div class="field">
    <%= form.label :item_type, "Type", class: "label" %>
    <div class="control">
      <div class="select">
        <%= form.select :item_type, Item::ITEM_TYPES.map { |type| [ type.humanize, type ] } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :status_id, "Status", class: "label" %>
    <div class="control">
      <div class="select">
        <%= form.collection_select :status_id, @project.organization.statuses.ordered, :id, :name %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :points, class: "label" %>
    <div class="control">
      <%= form.number_field :points, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.submit class: "button is-primary" %>
  </div>
<% end %>
