<% content_for :title, "#{@project.name} | #{@item.key}" %>

<div class="level is-mobile mb-0">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to @project.name, project_path(@project) %></li>
        <li class="is-active"><a href="#" aria-current="page"><%= @item.key %></a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <div class="buttons">
      <% if @item.status.category != "done" %>
        <%= link_to "Prioritize this", prioritize_project_path(@project, pinned_item_id: @item.id),
              class: "button is-small", title: "Compare this item against the rest of the project" %>
      <% end %>
      <%= link_to "Edit form", edit_project_item_path(@project, @item), class: "button is-small" %>
      <%= button_to "Delete", project_item_path(@project, @item), method: :delete,
            class: "button is-small is-danger is-outlined",
            form: { data: { turbo_confirm: "Delete this item?" } } %>
    </div>
  </div>
</div>

<div class="columns item-detail">
  <div class="column">
    <div data-svelte-component="ItemEditor"
         data-props="<%= item_editor_props(project: @project, item: @item).to_json %>"></div>

    <section class="comment-thread">
      <h2 class="title is-4">Comments</h2>

      <% if @comments.any? %>
        <ol class="comment-list">
          <% @comments.each do |comment| %>
            <li class="comment box">
              <div class="comment-meta">
                <span class="comment-author"><%= comment.user.username %></span>
                <% if comment.from_api? %>
                  <span class="tag is-info is-small comment-source-tag">🤖 API</span>
                <% end %>
                <time class="comment-time has-text-weak" datetime="<%= comment.created_at.iso8601 %>">
                  <%= time_ago_in_words(comment.created_at) %> ago
                </time>
              </div>
              <div class="content comment-body"><%= comment.body %></div>
            </li>
          <% end %>
        </ol>
      <% else %>
        <p class="has-text-weak">No comments yet.</p>
      <% end %>

      <%= form_with model: [ @project, @item, @new_comment ] do |form| %>
        <div class="field">
          <%= form.label :body, "Add a comment", class: "label" %>
          <div class="control">
            <%= form.hidden_field :body, id: form.field_id(:body), value: @new_comment.body.try(:to_trix_html) %>
            <rhino-editor
              input="<%= form.field_id(:body) %>"
              data-blob-url-template="<%= rails_service_blob_url(":signed_id", ":filename") %>"
              data-direct-upload-url="<%= rails_direct_uploads_url %>"
            ></rhino-editor>
          </div>
        </div>
        <div class="field">
          <%= form.submit "Post comment", class: "button is-primary" %>
        </div>
      <% end %>
    </section>
  </div>

  <div class="column is-one-third">
    <div data-svelte-component="ItemSidebar"
         data-props="<%= item_sidebar_props(project: @project, item: @item).to_json %>"></div>
  </div>
</div>
