<% content_for :title, "#{@project.name} | #{@item.key}" %>

<div class="level is-mobile mb-0">
  <div class="level-left">
    <nav class="breadcrumb mb-0" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to @project.name, project_path(@project) %></li>
        <% @item.ancestors.reverse_each do |ancestor| %>
          <li><%= link_to ancestor.key, project_item_path(@project, ancestor) %></li>
        <% end %>
        <li class="is-active"><a href="#" aria-current="page"><%= @item.key %></a></li>
      </ul>
    </nav>
    <div class="breadcrumb-copy" data-svelte-component="CopyButton"
         data-props="<%= { text: @item.key }.to_json %>"></div>
  </div>
  <div class="level-right">
    <div class="buttons">
      <% if @item.status.category != "done" %>
        <%= link_to "Prioritize this", prioritize_project_path(@project, pinned_item_id: @item.id),
              class: "button is-small", title: "Compare this item against the rest of the project" %>
      <% end %>
      <%= link_to "Add sub-item", new_project_item_path(@project, parent_id: @item.id), class: "button is-small" %>
      <%= button_to "Delete", project_item_path(@project, @item), method: :delete,
            class: "button is-small is-danger is-outlined",
            form: { data: { turbo_confirm: "Delete this item?" } } %>
    </div>
  </div>
</div>

<div class="columns item-detail">
  <div class="column">
    <div data-svelte-component="ItemEditor"
         data-props="<%= item_editor_props(project: @project, item: @item).to_json %>"></div>

    <% if @children.any? %>
      <section class="sub-items">
        <h2 class="title is-5">Sub-items</h2>
        <ul class="item-row-list">
          <% @children.each do |child| %>
            <li class="item-row">
              <%= link_to child.key, project_item_path(@project, child), class: "item-row-key" %>
              <%= link_to child.title, project_item_path(@project, child), class: "item-row-title" %>
              <%= item_type_tag(child) %>
              <span class="tag is-small"><%= child.status.name %></span>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <section class="item-links">
      <h2 class="title is-5">Relationships</h2>

      <% { blocks: "Blocks", blocked_by: "Blocked by", relates_to: "Related to" }.each do |bucket, label| %>
        <% next if @links[bucket].empty? %>
        <h3 class="item-links-label"><%= label %></h3>
        <ul class="item-row-list">
          <% @links[bucket].each do |link, other| %>
            <li class="item-row">
              <%= link_to other.key, project_item_path(other.project_id, other), class: "item-row-key" %>
              <%= link_to other.title, project_item_path(other.project_id, other), class: "item-row-title" %>
              <span class="tag is-small"><%= other.status.name %></span>
              <%= button_to "", project_item_link_path(@project, @item, link),
                    method: :delete, class: "delete is-small",
                    form: { class: "item-row-remove" },
                    "aria-label": "Remove #{label.downcase} link to #{other.key}" %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with url: project_item_links_path(@project, @item), scope: :link, class: "item-links-form" do |form| %>
        <div class="select is-small">
          <%= form.select :kind, [ [ "Blocks", "blocks" ], [ "Blocked by", "blocked_by" ], [ "Related to", "relates_to" ] ] %>
        </div>
        <div class="item-link-target"
             data-svelte-component="ItemLinkField"
             data-props="<%= { name: "link[target_id]", placeholder: "Search items…", options: link_target_options(@link_targets) }.to_json %>"></div>
        <%= form.submit "Add link", class: "button is-small" %>
      <% end %>
    </section>

    <section class="comment-thread">
      <h2 class="title is-4">Comments</h2>

      <% if @comments.any? %>
        <ol class="comment-list">
          <% @comments.each do |comment| %>
            <li class="comment box">
              <div class="comment-meta">
                <span class="comment-author"><%= comment.user.username %></span>
                <% if comment.from_api? %>
                  <span class="tag is-info is-small comment-source-tag">🤖 API</span>
                <% end %>
                <time class="comment-time has-text-weak" datetime="<%= comment.created_at.iso8601 %>">
                  <%= time_ago_in_words(comment.created_at) %> ago
                </time>
              </div>
              <div class="content comment-body"><%= comment.body %></div>
            </li>
          <% end %>
        </ol>
      <% else %>
        <p class="has-text-weak">No comments yet.</p>
      <% end %>

      <%= form_with model: [ @project, @item, @new_comment ] do |form| %>
        <div class="field">
          <%= form.label :body, "Add a comment", class: "label" %>
          <div class="control">
            <%= form.hidden_field :body, id: form.field_id(:body), value: @new_comment.body.try(:to_trix_html) %>
            <rhino-editor
              input="<%= form.field_id(:body) %>"
              data-blob-url-template="<%= rails_service_blob_url(":signed_id", ":filename") %>"
              data-direct-upload-url="<%= rails_direct_uploads_url %>"
            ></rhino-editor>
          </div>
        </div>
        <div class="field">
          <%= form.submit "Post comment", class: "button is-primary" %>
        </div>
      <% end %>
    </section>
  </div>

  <div class="column is-one-third">
    <div data-svelte-component="ItemSidebar"
         data-props="<%= item_sidebar_props(project: @project, item: @item).to_json %>"></div>
  </div>
</div>
